@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600&display=swap');

:host {
    display    : flex;
    flex-flow  : column nowrap;
    margin     : 30px auto;
    max-width  : 600px;
    font-family: 'Source Sans Pro';
    background : white;
    padding    : 30px 50px 60px;
}

form {
    display  : flex;
    flex-flow: column nowrap;
    max-width: 480px;
    margin   : 0 auto;

    label {
        margin-top: 30px;
        color     : #666;
        font-size : 14px;
    }

    input {
        color        : #333;
        padding      : 12px 10px;
        border       : none;
        border-bottom: 1px solid #eee;
        font-size    : 16px;
        margin-bottom: 10px;

        &:focus {
            outline      : none;
            border-bottom: 1px solid #6c7ae0;
        }

        &.ng-touched {
            &.ng-invalid {
                border-color: red;
            }

            +.invalid-feedback {
                display: block;
            }
        }
    }

    .invalid-feedback {
        display     : none;
        color       : red;
        font-size   : 13px;
        margin-top  : -5px;
        padding-left: 5px;
    }

    button {
        margin-top: 30px;

        &:last-of-type {
            background: #6c7ae0;
            color     : white;

            &:hover {
                background: #6c7ae0;
            }
        }
    }
}