@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600&display=swap');

:host {
    display    : flex;
    flex-flow  : column nowrap;
    margin     : 0 auto;
    max-width  : 900px;
    font-family: 'Source Sans Pro';
    margin     : 30px auto;
}

table {
    width           : 100%;
    background-color: #fff;
    border-collapse : collapse;
    margin-bottom   : 20px;

    @media (max-width: 768px) {
        display: none;
    }

    thead {
        th {
            padding-top     : 24px;
            padding-bottom  : 20px;
            font-size       : 12px;
            color           : #fff;
            line-height     : 1.4;
            text-transform  : uppercase;
            font-family     : 'Source Sans Pro';
            background-color: #6c7ae0;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #e5e5e5;
        }

        td {
            font-size     : 14px;
            color         : #808080;
            line-height   : 1.4;
            padding-top   : 18px;
            padding-bottom: 14px;
            font-family   : 'Source Sans Pro';
            margin        : 0 auto;
            text-align    : center;
        }

        button {
            padding: 5px 10px;
            margin : 0;
        }
    }

}

input.search {
    height: 40px;
    padding: 0 15px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    color: #333;
    outline: none;
    &:focus {
        border-color: #6c7ae0;
    }
    &::placeholder {
        font-style: italic;
        color: #bbb;
    }
}

.card-stack {
    display  : flex;
    flex-flow: row wrap;
    margin   : 0 -15px;

    @media (min-width: 768px) {
        display: none;
    }

    .card {
        display        : flex;
        padding        : 15px;
        flex           : 0 0 33.33%;
        max-width      : 33.33%;
        flex-direction : column;
        min-width      : 0;
        word-wrap      : break-word;
        background-clip: border-box;
        font-family    : 'Source Sans Pro';
        cursor         : pointer;

        &--title {
            font-size       : 12px;
            padding         : 0 20px;
            color           : #fff;
            line-height     : 1.4;
            text-transform  : uppercase;
            background-color: #6c7ae0;
        }

        &--body {
            background: white;
            padding   : 10px 20px;
        }
    }
}
