<input type="text" [(ngModel)]="filter" #ctrl="ngModel" class="search" placeholder="Digite o ID, Nome, Idade ou Cidade" (ngModelChange)="filterCustomers($event)">

<div *ngIf="customers; else loading">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Idade</th>
                <th>Cidade</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers | slice: pagination.start : pagination.end">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.age}}</td>
                <td>{{customer.city}}</td>
                <td><button (click)="openCustomer(customer)">Editar</button></td>
            </tr>
        </tbody>
    </table>

    <div class="card-stack">
        <div class="card" *ngFor="let customer of customers | slice: pagination.start : pagination.end" (click)="openCustomer(customer)">
            <div class="card--title">
                <h4>{{customer.id}} - {{customer.name}}</h4>
            </div>
            <div class="card--body">
                <p><strong>Idade:</strong> {{customer.age}}</p>
                <p><strong>Cidade:</strong> {{customer.city}}</p>
            </div>
        </div>
    </div>

    <app-pagination [data]="customers" [limit]="10" (pageChange)="pagination=$event"></app-pagination>
</div>

<ng-template #loading>
    Carregando Clientes...
</ng-template>